#canvas-canvas{
    border: 1px solid #c3c3c3;   
}

.canvas{
/*
    clear: both;
    position: absolute;
    top: 10%;
    left: 24.5%;
*/
    width: 100%;
    background-color:transparent;
    cursor:crosshair;
}
.cns-tool-item{
    margin-bottom: 6px;
    margin-top: 6px;
}
/*
button[id^="canvas-tool-"]{
    width:23px;
    height:23px;
}
#canvas-tool-line{
    background: url(../img/linea.png) no-repeat;
}
#canvas-tool-rect-stroke{
    background: url(../img/cuadro.png) no-repeat;
}
#canvas-tool-rect-fill{
    background: url(../img/cuadrado.png) no-repeat;
}
#canvas-tool-arc-stroke{
    background: url(../img/circunferencia.png) no-repeat;
}
#canvas-tool-arc-fill{
    background: url(../img/circulo.png) no-repeat;
}
#canvas-tool-path{
    background: url(../img/libre.png) no-repeat;
}
#canvas-tool-brush{
    background: url(../img/pincel.png) no-repeat;
}
*/
.canvas-text-value{
    width:30px;
}
#canvas-text-writer{
    display: none;
}