<div class="col s12">
    <div class="col s12">
        <input type="range" ng-model="lineSettings.lineWidth"  min="0" max="50" step="0.01">
    </div>
    <div class="col s12">
        <input type="text" readonly ng-model="lineSettings.lineWidth">
    </div>
    <fieldset>
        <legend>Dashed</legend>
        <div class="input-field col s6">
            <input id="width" type="number" min="0" ng-model="lineSettings.dashedWidth">
            <label for="width" ng-class="{'active' : lineSettings.dashedWidth}">Longitud</label>
        </div>
        <div class="input-field col s6">
          <input type="number" min="0" id="spacing" ng-model="lineSettings.dashedSpacing">
          <label for="spacing" ng-class="{'active' : lineSettings.dashedSpacing}">Separaci&oacute;n</label>
        </div>
    </fieldset>
</div>