<div class="col s12" id="canvas-toolbox">
    <toolbox-item icon="done_all" tool="'line'"></toolbox-item>
    <toolbox-item icon="replay" tool="'curve'"></toolbox-item>
    <toolbox-item icon="stay_primary_landscape" tool="'square'"></toolbox-item>
    <toolbox-item icon="picture_in_picture" tool="'fill_square'"></toolbox-item>
    <toolbox-item icon="toll" tool="'circumference'"></toolbox-item>
    <toolbox-item icon="info" tool="'circle'"></toolbox-item>
    <toolbox-item icon="polymer" tool="'free'"></toolbox-item>
    <toolbox-item icon="label_outline" tool="'polygon'"></toolbox-item>
    <toolbox-item icon="label" tool="'fill_polygon'"></toolbox-item>
    <toolbox-item icon="sort_by_alpha" tool="'text'"></toolbox-item>
    <toolbox-item icon="group_work" tool="'brush'"></toolbox-item>
</div>